In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df1 = pd.read_csv("Bengaluru_House_Data.csv")
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
print(df1.shape)

(13320, 9)

In [4]:
df2 = df1.drop(['area_type','society','balcony','availability'],axis = 'columns')

In [5]:
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [6]:
# to clean the data , we can delete all rows that contain missing values

# check if there is null elements
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [7]:
# delete all rows that contains missing values
df3 = df2.dropna()

In [8]:
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [9]:
df3.shape

(13246, 5)

In [10]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [11]:
df3['Bedrooms'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

C:\Users\dell\AppData\Local\Temp\ipykernel_18252\1879338596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Bedrooms'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

In [12]:
df3.head()

                   location       size total_sqft  bath   price  Bedrooms
0  Electronic City Phase II      2 BHK       1056   2.0   39.07         2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00         4
2               Uttarahalli      3 BHK       1440   2.0   62.00         3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00         3
4                  Kothanur      2 BHK       1200   2.0   51.00         2

In [13]:
df3['Bedrooms'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [14]:
df3.head(5000)

                      location       size total_sqft  bath   price  Bedrooms
0     Electronic City Phase II      2 BHK       1056   2.0   39.07         2
1             Chikka Tirupathi  4 Bedroom       2600   5.0  120.00         4
2                  Uttarahalli      3 BHK       1440   2.0   62.00         3
3           Lingadheeranahalli      3 BHK       1521   3.0   95.00         3
4                     Kothanur      2 BHK       1200   2.0   51.00         2
...                        ...        ...        ...   ...     ...       ...
5028               Vijayanagar      1 BHK        606   1.0   40.00         1
5029    Gollarapalya Hosahalli      2 BHK        861   2.0   34.50         2
5030       Devarachikkanahalli      2 BHK       1170   2.0   40.00         2
5031               Koramangala      4 BHK       2461   6.0  353.00         4
5032              Marathahalli      2 BHK       1205   2.0   75.00         2

[5000 rows x 6 columns]

In [15]:
df3[df3.Bedrooms>20]

                       location        size total_sqft  bath  price  Bedrooms
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0        27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0        43

In [16]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [17]:
#using the function above, this code below will return all the values of total_sqft that was not converted
#to float(False values) like ranges, and fields that contain strings like Meter if we remove ~ , we will get Boolean False instead
# the 1100Sq. Meter and other values
df3[~df3['total_sqft'].apply(is_float)]

                 location   size   total_sqft  bath    price  Bedrooms
30              Yelahanka  4 BHK  2100 - 2850   4.0  186.000         4
122                Hebbal  4 BHK  3067 - 8156   4.0  477.000         4
137    8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005         2
165              Sarjapur  2 BHK  1145 - 1340   2.0   43.490         2
188              KR Puram  2 BHK  1015 - 1540   2.0   56.800         2
...                   ...    ...          ...   ...      ...       ...
12975          Whitefield  2 BHK   850 - 1060   2.0   38.190         2
12990      Talaghattapura  3 BHK  1804 - 2273   3.0  122.000         3
13059              Harlur  2 BHK  1200 - 1470   2.0   72.760         2
13265               Hoodi  2 BHK  1133 - 1384   2.0   59.135         2
13299          Whitefield  4 BHK  2830 - 2882   5.0  154.500         4

[190 rows x 6 columns]

In [18]:
df3['total_sqft'].dtype
# 0 means that the data type in total_sqft is object, which means that it contains string + numeric

dtype('O')

In [19]:
# what we will do is define a function that ignore all strings, and for ranges it return the mean 
def convert_sting_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0]) + float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [20]:
convert_sting_to_num('2166')

2166.0

In [21]:
convert_sting_to_num('1000-2000')

1500.0

In [22]:
convert_sting_to_num('2000 Sqrt Meter')

In [23]:
df4 = df3.copy()
df4['total_sqft'] = df4['total_sqft'].apply(convert_sting_to_num)

In [24]:
df4['total_sqft'].dtype
#now we changed the type from object(string and number) to float

dtype('float64')

In [25]:
df3.loc[672]

location      Bettahalsoor
size             4 Bedroom
total_sqft     3090 - 5002
bath                   4.0
price                445.0
Bedrooms                 4
Name: 672, dtype: object

In [26]:
df5 = df4.copy()
df5.head()

                   location       size  total_sqft  bath   price  Bedrooms
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07         2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00         4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00         3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00         3
4                  Kothanur      2 BHK      1200.0   2.0   51.00         2

In [27]:
#feature engineering: create a feature price_per_sqft
df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']
df5.head()

,location,size,total_sqft,bath,price,Bedrooms,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [34]:
#hçw many rows available in my dataset using my location
len(df5.location.unique())

1293

In [37]:
df5.location = df5.location.apply(lambda x: x.strip())
location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending = False)
location_stats

location
Whitefield               535
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           266
Thanisandra              236
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [ ]:
location_stats_less_than_10 = location_stats[location_stats <= 10]